<!DOCTYPE html>
<html lang="zh">
{head}
<div class="mdui-progress" id='loading-progress' style="position: fixed;top:0;z-index: 999999;"><div class="mdui-progress-indeterminate"></div></div>
<div id="theme_css"></div>
<body class="mdui-appbar-with-toolbar mdui-theme-accent-blue">
    {appbar}
    <div class="mdui-container">
        <div id='page_typ' hidden>article</div>
        <div class="mdui-card article">
            <div class="mdui-card-media">
                <img data-src="{thumbnail}" height="300px" style="object-fit: cover;">
                <div class="mdui-card-media-covered">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">{title}</div>
                        <div class="mdui-card-primary-subtitle">{tagshtml}</div>
                    </div>
                </div>
            </div>
            <div class="mdui-card-header">
                <img class="mdui-card-header-avatar" src="{avatar}">
                <div class="mdui-card-header-title">{author}</div>
                <div class="mdui-card-header-subtitle">{date}</div>
                <div class="mdui-card-menu">
                    <span id="{title}" class="leancloud_visitors" data-flag-title="Your Article Title" hidden>
                        <em class="post-meta-item-text">阅读量</em>
                        <i class="leancloud-visitors-count">1000000</i>
                    </span>
                    <button class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{{content: '分享'}}" mdui-menu="{{target: '#share_menu',align: 'right',covered: false}}">
                        <i class="mdui-icon material-icons">share</i>
                    </button>
                    <ul class="mdui-menu" id="share_menu" style="width: fit-content;">
                        <li class="mdui-menu-item mdui-ripple">
                            <a id="share_weibo" href="http://service.weibo.com/share/share.php?appkey=&title={title}&url=_url_&pic=_avatar_&searchPic=false&style=simple" target="_blank" class="mdui-ripple">
                                <img class="mdui-menu-item-icon mdui-icon" src="{assets_rt}/icon/weibo.ico">分享到微博
                            </a>
                        </li>
                        <li class="mdui-menu-item mdui-ripple">
                            <a id="share_qq" href="http://connect.qq.com/widget/shareqq/index.html?site={site_name}&title={title}&summary=&pics=_avatar_&url=_url_" target="_blank" class="mdui-ripple">
                                <img class="mdui-menu-item-icon mdui-icon" src="{assets_rt}/icon/qq.svg">分享到QQ
                            </a>
                        </li>
                        <li class="mdui-menu-item mdui-ripple">
                            <a id="share_twitter" href="https://twitter.com/intent/tweet?text={title}&url=_url_&via={author}" target="_blank" class="mdui-ripple">
                                <img class="mdui-menu-item-icon mdui-icon" src="{assets_rt}/icon/twitter.svg">分享到Twitter
                            </a>
                        </li>
                        <li class="mdui-menu-item mdui-ripple">
                            <a id="share_copy" href="javascript:copylink();"class="mdui-ripple">
                                <i class="mdui-menu-item-icon mdui-icon material-icons">link</i>复制链接
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mdui-card-content">
                {html}
                <textarea id="md_source" hidden>{article}</textarea>
                <div id="md_out" class="markdown-body">
                    <p>文章加载中...</p>
                    <center><div class="mdui-spinner mdui-spinner-colorful"></div></center>
                </div>
            </div>
        </div>
        <div class="mdui-row-xs-3 article">
            <div class="mdui-col">
                <a href="{site_rt}{pre_link}" class="mdui-text-color-black" id='pre_button'>
                    <i class="mdui-icon material-icons">arrow_back</i>
                    {pre_title}
                </a>
            </div>
            <div class="mdui-col mdui-text-center">{title}</div>
            <div class="mdui-col">
                <a href="{site_rt}{nxt_link}" class="mdui-text-color-black mdui-float-right" id='nxt_button'>
                    {nxt_title}
                    <i class="mdui-icon material-icons">arrow_forward</i>
                </a>
            </div>
        </div>
        <div class="mdui-card" style="margin-top: 50px;">
            <div class="mdui-card-content">
                {comment}
            </div>
        </div>
    </div>
    <div class="mdui-bottom-nav"></div>
</body>
<!--top-->
<button class="mdui-fab mdui-fab-mini mdui-ripple mdui-fab-fixed mdui-fab-hide" id="totop" onclick="totop()" style="z-index: 99999;">
    <i class="mdui-icon material-icons">keyboard_arrow_up</i>
</button>
<!--top end-->
{search}
{drawer}
{pjax}
{music}
{custom_html}
</html>