<head>
    <meta charset="utf-8">
    <!-- 渲染优化 -->
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="HandheldFriendly" content="True" >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//{site_domain}">
    
    <title>{site_name}</title>
    <link rel="stylesheet" href="{assets_rt}/mdui/css/mdui.min.css">
    <script async src="{assets_rt}/mdui/js/mdui.min.js"></script>
    <link rel="stylesheet" href="{assets_rt}/theme.css">
    <!--custom--><link rel="stylesheet" href="/custom.css">
    <!--highlight-->
    <link rel="stylesheet" href="{assets_rt}/github.min.css">
    <script async src="{assets_rt}/highlight.min.js"></script>
    <script async src="{assets_rt}/highlightjs-line-numbers.min.js"></script>
    <script async src="{assets_rt}/highlightjs-copy-button.min.js"></script>
    <!--highlight end-->
    <!-- markdown katex-->
    <link rel="stylesheet" href="{assets_rt}/markdown.css">
    <script async src="{assets_rt}/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <script async src="{assets_rt}/katex.min.js"></script>
    <!-- markdown katex end-->
    <link rel="shortcut icon" href="{site_icon}">
    <script async src='{assets_rt}/Valine.min.js'></script>
    <script async src='{assets_rt}/pjax.js'></script>
    <script async src='{assets_rt}/bundle.js'></script>
</head>