<div class="mdui-card article">
    <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">
            <a href="{link}" class="mdui-text mdui-text-color-black">
                {istop}{title}
            </a>
        </div>
        <div class="mdui-card-primary-subtitle">{tagshtml}</div>
    </div>
    <div class="mdui-card-content">
        <textarea class="md_in" hidden>{preview}</textarea>
        <div class="md_out markdown-body"></div>
    </div>
    <div class="mdui-card-header">
        <img class="mdui-card-header-avatar" src="{avatar}">
        <div class="mdui-card-header-title">{author}</div>
        <div class="mdui-card-header-subtitle">{date}</div>
        <div class="mdui-card-menu">
            <a href="{link}" class="mdui-btn mdui-btn-raised mdui-ripple">Read More</a>
        </div>
    </div>
</div>