<!DOCTYPE html>
<html lang="zh">
{head}
<div class="mdui-progress" id='loading-progress' style="position: fixed;top:0;z-index: 999999;"><div class="mdui-progress-indeterminate"></div></div>
<div id="theme_css"></div>
<body class="mdui-appbar-with-toolbar mdui-theme-accent-blue">
    {appbar}
    <div class="mdui-container">
        <div id='page_typ' hidden>article</div>
        {links}
        {info}
    <script>
var scrw=document.body.clientWidth;
if(scrw<400){{
    list=document.getElementsByClassName("links-row");
    for(i in list)list[i].classList.remove("mdui-row-xs-2");
}}
list=document.getElementsByClassName("link-img");
function max(x,y){{return x>y?x:y;}}
for(i in list){{
    var x;
    if(list[i].clientWidth>list[i].clientHeight)x=list[i].clientWidth;
    else x=list[i].clientHeight;
    list[i].style.width=x.toString()+"px";
    list[i].style.height=x.toString()+"px";
}}</script>
    <div class="mdui-card" style="margin-top: 200px;">
        <div class="mdui-card-content">
            {comment}
        </div>
    </div>
    </div>
    <div class="mdui-bottom-nav"></div>
</body>
<!--top-->
<button class="mdui-fab mdui-fab-mini mdui-ripple mdui-fab-fixed mdui-fab-hide" id="totop" onclick="totop()">
    <i class="mdui-icon material-icons">keyboard_arrow_up</i>
</button>
<!--top end-->
{search}
{drawer}
{pjax}
{music}
{custom_html}
</html>