<!DOCTYPE html>
<html lang="zh">
{head}
<div class="mdui-progress" id='loading-progress' style="position: fixed;top:0;z-index: 999999;"><div class="mdui-progress-indeterminate"></div></div>
<div id="theme_css"></div>
<body class="mdui-appbar-with-toolbar mdui-theme-accent-blue">
    {appbar}
    <div class="mdui-container">
        <div id='page_typ' hidden>index</div>
        <div class="mdui-card">
            <div class="mdui-card-content" id="tag_cloud">
                {tag_cloud}
                <style>#tag_cloud a{{margin: 5px}}</style>
            </div>
        </div>
        {articles}
        <script>
            var md_in=document.getElementsByClassName("md_in"),
                md_out=document.getElementsByClassName("md_out");
            for(i in md_in)md_out[i].innerHTML=marked(md_in[i].value.replace(/#/g,''));
        </script>
        <div class="mdui-row-xs-3 article" {split_hide}>
            <div class="mdui-col">
                <a href="{pre}" class="mdui-btn mdui-btn-icon" {pre_ban} id='pre_button'>
                    <i class="mdui-icon material-icons">arrow_back</i>
                </a>
            </div>
            <div class="mdui-col mdui-text-center">{now}</div>
            <div class="mdui-col">
                <a href="{nxt}" class="mdui-btn mdui-btn-icon mdui-float-right" {nxt_ban} id='nxt_button'>
                    <i class="mdui-icon material-icons">arrow_forward</i>
                </a>
            </div>
        </div>
    </div>
    <div class="mdui-bottom-nav"></div>
</body>
<!--top-->
<button class="mdui-fab mdui-fab-mini mdui-ripple mdui-fab-fixed mdui-fab-hide" id="totop" onclick="totop()">
    <i class="mdui-icon material-icons">keyboard_arrow_up</i>
</button>
<!--top end-->
{search}
{drawer}
{pjax}
{music}
{custom_html}
</html>